@media screen and (max-width:400px) {
        body {

/* Ubicación de la imagen */

background-image: url(https://www.wallpapertip.com/wmimgs/4-45448_mac-abstract-wallpaper-white.jpg);

/* Para dejar la imagen de fondo centrada, vertical y
horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;
}

        .contenedor_univ {
          width: 100%;
        }
        * {
        margin: 0;
        padding: 0;
      }
        header {
        width: 100%;
        background: #ffffff;
        margin-bottom: 20px;}
      header nav {
        float: right;
        line-height:0px;
             
      }
        
      .wrapper{display: none;}
      
      #logo {
        width: 150px;
        height: 100px;
        line-height: 80px;
      }
      .iconos{
        margin-left: 1%;
        display: inline-block;
        color: #000000;
        text-decoration: none;
        padding: 0px 0px;
        align-items: center;
        font-size: 55px;
        font-weight: bold;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        border-radius: 50px;}
      .aparecer{
        font-size: 20px;
        float: right;
        margin-top: -275%;
      }
      .titulo{font-size: 20px;overflow:hidden;margin-top: -5%;}
      .opciones1 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-top: 5%;
margin-left: 5%;
overflow: hidden;
}
.texto1 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
overflow: hidden;
}
.opciones2 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-left: 58%;
margin-top: -37%;
overflow: hidden;
}
.texto2 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
overflow: hidden;
}
.opciones3 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-left: 5%;
margin-top: 3%;
}
.texto3 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
}
.opciones4 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-left: 58%;
margin-top: -37%;
}
.texto4 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
}
.opciones5 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-left: 5%;
margin-top: 3%;
}
.texto5 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
}
.opciones6 {
border-style: solid;
border-color: #f40000;
width: 130px;
height: 130px;
border-radius: 50%;
margin-left: 58%;
margin-top: -37%;
}
.texto6 {
text-align: center;
line-height: 130px;
font-size: 20px;
color: #000000;
}
.op1 {
  
  border-style:solid;
  border-color:#f40000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 1%;
 
  
  
}
.tex1 {
  text-align: center;
  font-size: 1.3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.op2 {
  border-style:solid;;
  border-color:#f40000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 56.5%;
  margin-top:-42%;
 }
.tex2 {
  text-align:center;
  font-size: 1.3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 }
.op3 {
  border-style:solid;;
  border-color:#f40000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 1%;
  margin-top: 30%;
 }
.tex3 {
  font-size: 1.3rem; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
 }
.op4 {
  border-style:solid;;
  border-color:#f40000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 56.5%;
  margin-top: -42.5%;
 }
.tex4 {
  text-align: center;
  font-size: 1.3rem; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 
.linea1{
    margin: 0 auto;
    display: block;
    background-color: #f40000;
    width: 25px;
    height: 5px;
    margin-top:-95%;
  
}
.linea2{
    margin: 0 auto;
    display: block;
    background-color: #f40000;
    width: 25px;
    height: 5px;
    margin-top:73%;
}
.linea3{
    margin: 0 auto;
    display: block;
    background-color: #f40000;
    width: 90px;
    height: 5px;
    margin-top:-39%;
    transform: rotate(90deg);
    margin-left: 9.5%;
}
.linea4{
    margin: 0 auto;
    display: block;
    background-color: #f40000;
    width: 90px;
    height: 5px;
    margin-top:-1%;
    transform: rotate(90deg);
    margin-left: 65%;
}
.hora{
    font-size: 1.5rem;
    margin-top: -5%;
    text-align: center;
    text-decoration:underline;
}
  .hora_com{
    font-size: 1.5rem;
    margin-top: -5%;
    position: absolute;
    margin-left: 17%;
    text-decoration:underline;
}
.search-button{width:100px;height:50px;display: inline-table}
.container{width:200px;position:relative}
.container .lupa{position:absolute;font-size: x-large;margin-top:20px;color:#FFF;-webkit-transition:.3s ease-out;transition:.3s ease-out}
#search{width:70px;height:70px;background-color:#000000;color:#FFF;border:none;font-size:2rem;text-align:center;padding-left:70px;-webkit-transition:.6s ease-out;transition:.6s ease-out}
#search:active,#search:focus{outline:0;width:200px;padding-right:20px}
.container:hover #search{width:200px;background-color:#ff0000}
.container:hover .lupa{color:#ffffff}
::-webkit-input-placeholder{color:#ffffff}
:-moz-placeholder{color:#ffffff}
::-moz-placeholder{color:#ffffff}
:-ms-input-placeholder{color:#ffffff}
span.lupa{
  margin-left:12px;

}
 
.search-button{width:100px;height:50px;display: inline-table}
.container2{width:200px;position:relative}
.container2 .lupa{position:absolute;font-size: x-large;margin-top:20px;color:#FFF;-webkit-transition:.3s ease-out;transition:.3s ease-out}
#search{width:70px;height:70px;background-color:#000000;color:#FFF;border:none;font-size:2rem;text-align:center;padding-left:70px;-webkit-transition:.6s ease-out;transition:.6s ease-out}
#search:active,#search:focus{outline:0;width:200px;padding-right:20px}
.container2:hover #search{width:400px;background-color:#ff0000}
.container2:hover .lupa{color:#ffffff}
::-webkit-input-placeholder{color:#ffffff}
:-moz-placeholder{color:#ffffff}
::-moz-placeholder{color:#ffffff}
:-ms-input-placeholder{color:#ffffff}
span.lupa{
  margin-left:12px;

}
.search-button{width:100px;height:50px;display: inline-table}
.container3{width:200px;position:relative}
.container3 .buscador{position:absolute;font-size: x-large;margin-top:20px;color:#FFF;-webkit-transition:.3s ease-out;transition:.3s ease-out}
#search{width:70px;height:70px;background-color:#000000;color:#FFF;border:none;font-size:2rem;text-align:center;padding-left:70px;-webkit-transition:.6s ease-out;transition:.6s ease-out}
#search:active,#search:focus{outline:0;width:200px;padding-right:20px}
.buscador:hover {color:ff0000;}
.container3:hover .buscador{color:#ff0000;}
::-webkit-input-placeholder{color:#ffffff}
:-moz-placeholder{color:#ffffff}
::-moz-placeholder{color:#ffffff}
:-ms-input-placeholder{color:#ffffff}
span.buscador{
  margin-left:23px;

}

a:hover {
  color: #ff0000;

}
a {color: #ffffff}

.container {margin-left:5%;
margin-top: 20%;
}

.container2 {margin-left:5%;
margin-top: 20%;
}
.container3 {margin-left:5%;
margin-top: 20%;
}
@media only screen and (orientation:portrait) {
    #aviso {font-size:1.4rem; text-align:center; color:#000000; margin-top:50%;}
    .datagrid {display: none;}
}
@media only screen and (orientation:landscape) {
    #aviso {display: none;}
    .contenedor_univ{display:none;}
    .datagrid table { border-collapse: collapse; text-align: center; width: 100%; } .datagrid {font: normal 12px/150% Ginebra, Arial, Helv�tica, sans-serif; background: #fff;overflow:hidden;border: 1px solid #FF0000; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }.datagrid table td, .datagrid table th { padding: 10px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF0000), color-stop(1, #80141C) );background:-moz-linear-gradient( center top, #FF0000 5%, #80141C 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#80141C');background-color:#FF0000; color:#FFFFFF; font-size: 21px; font-weight: bold; border-left: 1px solid #000000; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #000000;font-size: 16px;border-bottom: 3px solid #000000;font-weight: bold; }.datagrid table tbody .alt td { background: #EBF9FF; color: #000000; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }
}
.container{
  width:600px;
  height:400px;
  position:absolute;
  perspective: 1024;
  -webkit-perspective: 1024;
  left:calc(50% - 400px);
  top:calc(50vh - 300px);
}
.card{
  width:100%;
  height:100%;
  position:absolute;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transition:transform 1s ease;
  cursor:pointer;
}
.back, .front{
  border-radius:6px;
  position:absolute;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}
.contentfront{
  width:100%;
  height:100%;
  float:right;
  transform:translatez(60px);
  -webkit-transform:translatez(60px);
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  
}
.contentback{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(60px);
  -webkit-transform:translatez(60px);
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  
}
.back{
  transform:rotateY(180deg);
  background-color:#000000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front{
  text-transform:uppercase;
  background-color:#000000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.date{
  height:100%;
  width:350px;
  background-color:#ff0000;
  border-radius:0 6px 6px 0;
  text-align:center;
  box-sizing:border-box;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  position: absolute;
  right: 0;
}
.datecont{
  height:100%;
  transform:translatez(60px) scale(.9);
  -webkit-transform:translatez(60px) scale(.9);
}
#date{
  font-size:100px;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  float:right;
}
#day{
  float:right;
  font-size:50px;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}
#month{
  float:right;
  font-size:30px;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
}
.date i{
  color:#ffffff;
  position:absolute;
  bottom:10px;
  right:0;
}
.date i:hover{
  color:#000000;
  transition:.3s ease;
}
.month{
  height:100%;
  width:270px;
  float:left;
  padding:20px 30px;
  box-sizing:border-box;
}
.month table{
  width:100%;
}
.orangeTr{
  color:#ff0000;
}
.whiteTr{
  color:#ffffff;
  
}
.whiteTr th:hover{
  color:#ff0000;
  transition:.3s ease;
}
.month tr{
  height:40px;
}
.month th{
  width:14%;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

.flipped{
  transform:rotateY(-180deg);
  /*height:400px;
  width:200px;
  left:calc(50% - 100px);
  top:calc(50vh - 200px);*/
}
.backcontainer{
  transform-style:preserve-3d;
  width:calc(100% - 60px);
  height:calc(100% - 40px);
  float:left;
  margin-left:30px;
  margin-top:20px;
  /*transform:translatez(60px) scale();*/
  
  background-color:#ffffff;
  border-radius:6px;
  padding:10px 30px;
  box-sizing:border-box;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
}

}
